body {
	overflow: hidden;
}

#player {
	display: none;
}

#overlay-toggler {
	position: fixed;
	background-image: url('/images/hamburguer-button.svg');
	background-color: transparent;
	background-position: center;
	background-size: 100%;
	border: none;
	width: 30px;
	height: 30px;
	top: 5px;
	right: 5px;
	z-index: 1049;
}

.overlay {
	display: flex;
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.overlay.overlay-hidden {
	display: none;
}

.overlay-content {
	display: flex;
	flex-flow: column;
}

#overlay-tabs {
	flex: 0 0 41px;
}

#overlay-tabs-content {
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.music-player .card-img {
	width: 100px;
	height: 100px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.music-player .btn-group .btn-dark {
	border-radius: 0px;
}

.music-player .btn-group .btn-secondary {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.chat-list {
	padding-bottom: 75px;
}

.chat-list .list-group-item {
	word-wrap: break-word;
}

.playlist .card-img {
	width: 75px;
	height: 75px;
}

#chat-users-btn {
	width: 50px;
	border: none;
	background-position: center;
	background-size: 25px 25px;
	background-image: url('/images/users-icon.svg');
	background-repeat: no-repeat;
}

@media only screen and (max-width: 576px) {
	#overlay-toggler {
		width: 30px;
		height: 30px;
	}
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 800px) {
	#overlay-toggler {
		width: 35px;
		height: 35px;
	}
}

@media only screen and (min-width: 1100px) {
	#overlay-toggler {
		width: 50px;
		height: 50px;
		top: 15px;
		right: 15px;
	}
}

@media only screen and (min-width: 1200px) {

} 