<!DOCTYPE html>
<html>

<head>
<title>Soundplanes</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin="" />
<link rel="stylesheet" href="/css/client.css">
<link rel="stylesheet" href="/css/global.css">
</head>

<body class="bg-dark">
	<div id="map"></div>
	<button id="overlay-toggler" class="overlay-toggler" type="button"></button>
	<div id="overlay" class="overlay overlay-hidden">
		<div class="overlay-content container-sm">
			<div class="nav nav-tabs" id="overlay-tabs" role="tablist">
				<a class="nav-link active" id="music-tab" data-toggle="tab"
					href="#music" role="tab" aria-controls="music" aria-selected="true">Music</a>
				<a class="nav-link" id="chat-tab" data-toggle="tab" href="#chat"
					role="tab" aria-controls="chat" aria-selected="false">Chat</a> <a
					class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
					role="tab" aria-controls="profile" aria-selected="false">Profile</a>
				<a class="nav-link" id="airport-tab" data-toggle="tab"
					href="#airport" role="tab" aria-controls="airport"
					aria-selected="false">Airport</a>
			</div>
			<div class="tab-content pt-2 mb-2" id="overlay-tabs-content">
				<div class="tab-pane fade show active" id="music" role="tabpanel"
					aria-labelledby="home-tab">
					<div id="player"></div>
					<div class="card">
						<div class="card-header" id="player-header">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button"
									id="player-header-title">Music player</button>
							</h2>
						</div>

						<div class="card-body music-player p-3" id="player-track">
							<div class="row no-gutters d-flex flex-nowrap">
								<div
									class="col pl-3 py-3 d-flex flex-column flex-shrink-0 flex-grow-0 justify-content-center">
									<img src="/images/unknown.png" class="card-img"
										id="player-track-image">
								</div>
								<div
									class="col d-flex flex-column justify-content-center text-break">
									<div class="card-body">
										<h5 class="card-title" id="player-track-name"></h5>
										<p class="card-text" id="player-track-artist"></p>
									</div>
								</div>
							</div>
							<div class="btn-group d-flex flex-nowrap" role="group">
								<button type="button" class="btn btn-dark" id="player-play-btn">
									<img src="/images/play-btn.svg" width="25" height="25">
								</button>
								<button type="button" class="btn btn-dark" id="player-pause-btn">
									<img src="/images/pause-btn.svg" width="25" height="25">
								</button>
								<button type="button" class="btn btn-dark" id="player-skip-btn">
									<img src="/images/skip-btn.svg" width="25" height="25">
								</button>
								<button class="btn btn-dark" data-toggle="collapse"
									data-target="#player-lyrics" aria-expanded="false"
									aria-controls="player-lyrics">
									<img src="/images/lyrics-btn.svg" width="25" height="25">
								</button>
							</div>
							<div class="btn-group py-2 bg-dark d-flex flex-nowrap">
								<div
									class="col d-flex flex-column justify-content-center flex-shrink-0 flex-grow-0">
									<img class="ml-3" src="/images/volume-icon.svg" width="25"
										height="25">
								</div>
								<div class="col d-flex flex-column justify-content-center">
									<input class="form-control-range" id="player-volume"
										type="range" min="0" max="100" step="1" value="100">
								</div>
							</div>
							<div class="btn-group d-flex flex-nowrap" role="group">
								<button type="button" class="btn btn-secondary"
									id="player-export-btn">Export this playlist to my
									Spotify account</button>
							</div>
							<div class="collapse p-3" id="player-lyrics"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="chat" role="tabpanel"
					aria-labelledby="chat-tab" style="overflow: hidden">
					<ul class="list-group" id="chat-messages">
					</ul>
					<div class="fixed-bottom">
						<form class="container-sm py-3 bg-light" id="chat-form">
							<div class="row d-flex flex-nowrap">
								<div class="col ">
									<input type="text" class="form-control" id="chat-input"
										placeholder="Enter your message">
								</div>
								<div class="col">
									<button class="btn btn-primary btn-block" id="chat-send-btn">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel"
					aria-labelledby="profile-tab">
					<div class="card">
						<div class="card-header" id="profile-social-header">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button"
									id="profile-social-title"></button>
							</h2>
						</div>

						<div class="card-body" id="profile-social">
							<a class="btn btn-spotify btn-lg btn-block"
								id="profile-social-spotify-btn" href="/auth/spotify"
								role="button"> <span class="icon icon-spotify mr-2"></span>
								Log in with Spotify
							</a> <a class="btn btn-facebook btn-lg btn-block"
								id="profile-social-facebook-btn" href="/auth/facebook"
								role="button"> <span class="icon icon-facebook mr-2"></span>
								Log in with Facebook
							</a>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="airport" role="tabpanel"
					aria-labelledby="airport-tab">
					<div class="card" id="profile-airport-create">
						<div class="card-header">Create your airport</div>
						<div class="card-body">
							<p class="card-text" id="profile-airport-create-status"></p>
							<button class="btn btn-primary btn-block" type="button"
								id="profile-airport-create-btn">Create airport</button>
						</div>
					</div>
					<div class="accordion">
						<div class="card" id="profile-airport-manage">
							<div class="card-header">
								<h2 class="mb-0">
									<button class="btn btn-link">My airport status</button>
								</h2>
							</div>
							<div class="card-body">
								<p class="card-text" id="profile-airport-manage-status"></p>
								<div class="card playlist">
									<div class="row no-gutters d-flex flew-nowrap text-break">
										<div class="col pl-3 py-3 d-flex flex-column justify-content-center flex-shrink-0 flex-grow-0">
											<img src="" class='card-img'
												id="profile-airport-manage-playlist-image">
										</div>
										<div class="col d-flex flex-column justify-content-center text-break">
											<div class="card-body">
												<p class="card-text"
													id="profile-airport-manage-playlist-name"></p>
											</div>
										</div>
									</div>
								</div>
								<hr>
								<button class="btn btn-primary btn-block" type="button"
									id="profile-airport-manage-travel-btn">Go to my
									airport</button>
							</div>
						</div>
						<div class="card" id="profile-airport-playlists">
							<div class="card-header">
								<h2 class="mb-0">
									<button class="btn btn-link">Load a playlist</button>
								</h2>
							</div>
							<div class="card-body">
								<p class="card-text" id="profile-airport-playlists-status"></p>
								<button class="btn btn-primary btn-block" type="button"
									id="profile-airport-playlists-update-btn">Load my
									playlists</button>
								<hr>
								<ul class="list-group" id="profile-airport-playlists-list"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-status" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script src="/js/leaflet-extra.js"></script>
	<script type="module" src="/js/client.js"></script>
</body>

</html>