<!DOCTYPE html>
<html>

<head>
<title>Soundplanes</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin="" />
<link rel="stylesheet" href="/css/client.css">
<link rel="stylesheet" href="/css/global.css">
</head>

<body class="bg-dark">
	<div id="map"></div>
	<button id="overlay-toggler" class="overlay-toggler" type="button"></button>
	<div id="overlay" class="overlay overlay-hidden">
		<div class="overlay-content container-sm">
			<div class="overlay-header">
				<h5 id="overlay-title"></h5>
			</div>
			<ul class="nav nav-tabs" id="overlay-tabs" role="tablist">
				<li class="nav-item"><a class="nav-link active" id="music-tab"
					data-toggle="tab" href="#music" role="tab" aria-controls="music"
					aria-selected="true">Music</a></li>
				<li class="nav-item"><a class="nav-link" id="chat-tab"
					data-toggle="tab" href="#chat" role="tab" aria-controls="chat"
					aria-selected="false">Chat</a></li>
				<li class="nav-item"><a class="nav-link" id="profile-tab"
					data-toggle="tab" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false">Profile</a></li>
				<li class="nav-item"><a class="nav-link" id="airport-tab"
					data-toggle="tab" href="#airports" role="tab"
					aria-controls="airports" aria-selected="false">Airports</a></li>
			</ul>
			<div class="tab-content pt-2" id="overlay-tabs-content">
				<div class="tab-pane fade show active" id="music" role="tabpanel"
					aria-labelledby="home-tab">
					<div id="player"></div>
					<div class="form-group">
						<label id="player-label-playing"></label>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" id="player-input-search">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-sm-2">
								<label>Volume: </label>
							</div>
							<div class="col-sm-10">
								<input type="range" class="form-control" max="100" min="0"
									step="1" value="100" id="player-volume">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<button type="button" class="btn btn-dark btn-block"
									id="player-btn-play">Search and play</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<button type="button" class="btn btn-dark btn-block"
									id="player-btn-resume">Resume</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-dark btn-block"
									id="player-btn-pause">Pause</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<label>Lyrics</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<p id="player-lyrics"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="chat" role="tabpanel"
					aria-labelledby="chat-tab" style="overflow: hidden">
					<ul class="list-group" id="chat-messages">
					</ul>
					<div class="fixed-bottom">
						<form class="container-sm py-3 bg-light" id="chat-form" action="#">
							<div class="row">
								<div class="col-8 col-md-10">
									<input type="text" class="form-control" id="chat-input"
										placeholder="Enter your message">
								</div>
								<div class="col-4 col-md-2">
									<button class="btn btn-primary btn-block" id="chat-send-btn">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel"
					aria-labelledby="profile-tab">
					<div class="accordion" id="profile-accordion">
						<div class="card">
							<div class="card-header" id="profile-social-header"
								data-toggle="collapse" data-target="#profile-social"
								aria-expanded="true" aria-controls="profile-social">
								<h2 class="mb-0">
									<button class="btn btn-link" type="button">My social</button>
								</h2>
							</div>

							<div id="profile-social" class="collapse show"
								aria-labelledby="profile-social-header"
								data-parent="#profile-accordion">
								<div class="card-body">
									<a class="btn btn-spotify btn-lg btn-block"
										id="profile-social-spotify-btn" href="/auth/spotify"
										role="button"> <span class="icon icon-spotify mr-2"></span>
										Log in with Spotify
									</a> <a class="btn btn-facebook btn-lg btn-block"
										id="profile-social-facebook-btn" href="/auth/facebook"
										role="button"> <span class="icon icon-facebook mr-2"></span>
										Log in with Facebook
									</a>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" id="profile-airport-header"
								data-toggle="collapse" data-target="#profile-airport"
								aria-expanded="true" aria-controls="profile-airport">
								<h2 class="mb-0">
									<button class="btn btn-link" type="button">My airport</button>
								</h2>
							</div>

							<div id="profile-airport" class="collapse"
								aria-labelledby="profile-airport-header"
								data-parent="#profile-accordion">
								<div class="card-body">
									<div id="profile-airport-create">
										<label id="profile-airport-create-status"></label>
										<button class="btn btn-success btn-block" type="button"
											id="profile-airport-create-btn">Create airport</button>
									</div>
									<div id="profile-airport-manage">
										<p class="text-center">Update airport playlist</p>
										<button class="btn btn-primary btn-block" type="button"
											id="profile-airport-manage-update-btn">Reload my
											playlists</button>
										<div class="list-group" id="profile-airport-manage-playlists">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="airports" role="tabpanel"
					aria-labelledby="airports-tab">
					<p class="text-center" id="airports-info"></p>
					<div id="airports-landed">
						<button class="btn btn-danger btn-block" id="airports-takeoff-btn">Leave
							this airport</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-status" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script src="/js/leaflet-extra.js"></script>
	<script type="module" src="/js/client.js"></script>
</body>

</html>