<!DOCTYPE html>
<html>

<head>
<title>Soundplanes</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin="" />
<link rel="stylesheet" href="/css/client.css">
</head>

<body class="bg-dark">
	<div id="map"></div>
	<button id="overlay-toggler" class="overlay-toggler" type="button"></button>
	<div id="overlay" class="overlay overlay-hidden">
		<div class="overlay-content container-sm">
			<div class="overlay-header">
				<h5 id="overlay-title"></h5>
			</div>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item"><a class="nav-link active" id="music-tab"
					data-toggle="tab" href="#music" role="tab" aria-controls="music"
					aria-selected="true">Music</a></li>
				<li class="nav-item"><a class="nav-link" id="chat-tab"
					data-toggle="tab" href="#chat" role="tab" aria-controls="chat"
					aria-selected="false">Chat</a></li>
				<li class="nav-item"><a class="nav-link" id="profile-tab"
					data-toggle="tab" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false">Profile</a></li>
				<li class="nav-item"><a class="nav-link" id="airport-tab"
					data-toggle="tab" href="#airport" role="tab"
					aria-controls="airport" aria-selected="false">Airport</a></li>
			</ul>
			<div class="tab-content pt-2" id="myTabContent">
				<div class="tab-pane fade show active" id="music" role="tabpanel"
					aria-labelledby="home-tab">
					<div id="player"></div>
					<div class="form-group">
						<label id="player-label-playing"></label>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" id="player-input-search">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-sm-2">
								<label>Volume: </label>
							</div>
							<div class="col-sm-10">
								<input type="range" class="form-control" max="100" min="0" step="1" value="100" id="player-volume">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<button type="button" class="btn btn-dark btn-block"
									id="player-btn-play">Search and play</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<button type="button" class="btn btn-dark btn-block"
									id="player-btn-resume">Resume</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-dark btn-block"
									id="player-btn-pause">Pause</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<label>Lyrics</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col">
								<p id="player-lyrics"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="chat" role="tabpanel"
					aria-labelledby="profile-tab">...</div>
				<div class="tab-pane fade" id="profile" role="tabpanel"
					aria-labelledby="contact-tab">...</div>
				<div class="tab-pane fade" id="airport" role="tabpanel"
					aria-labelledby="airport-tab">...</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-status" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin="anonymous"></script>
	<script type="module" src="/js/client.js"></script>
</body>

</html>