<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>landing</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>LandingController</display-name>
		<servlet-name>LandingController</servlet-name>
		<servlet-class>aiss.controller.LandingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LandingController</servlet-name>
		<url-pattern>/landing</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>RegisterUserController</display-name>
		<servlet-name>RegisterUserController</servlet-name>
		<servlet-class>aiss.controller.RegisterUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserController</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>LocationController</display-name>
		<servlet-name>LocationController</servlet-name>
		<servlet-class>aiss.controller.LocationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationController</servlet-name>
		<url-pattern>/chooseLocation</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MapController</display-name>
		<servlet-name>MapController</servlet-name>
		<servlet-class>aiss.controller.MapController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MapController</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>aiss.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SpotifyAuth</display-name>
		<servlet-name>SpotifyAuth</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Spotify</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpotifyAuth</servlet-name>
		<url-pattern>/auth/spotify</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SpotifyCallback</display-name>
		<servlet-name>SpotifyCallback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Spotify</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/link/Spotify</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpotifyCallback</servlet-name>
		<url-pattern>/oauth2callback/Spotify</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>FacebookAuth</display-name>
		<servlet-name>FacebookAuth</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Facebook</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookAuth</servlet-name>
		<url-pattern>/auth/facebook</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>FacebookCallback</display-name>
		<servlet-name>FacebookCallback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Facebook</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/link/Facebook</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookCallback</servlet-name>
		<url-pattern>/oauth2callback/Facebook</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Force HTTPS</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<servlet>
		<description></description>
		<display-name>LinkSpotifyController</display-name>
		<servlet-name>LinkSpotifyController</servlet-name>
		<servlet-class>aiss.controller.oauth.LinkSpotifyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinkSpotifyController</servlet-name>
		<url-pattern>/link/Spotify</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LinkFacebookController</display-name>
		<servlet-name>LinkFacebookController</servlet-name>
		<servlet-class>aiss.controller.oauth.LinkFacebookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinkFacebookController</servlet-name>
		<url-pattern>/link/Facebook</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DebugController</display-name>
		<servlet-name>DebugController</servlet-name>
		<servlet-class>aiss.controller.DebugController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DebugController</servlet-name>
		<url-pattern>/debug</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClientAirportLandingController</display-name>
		<servlet-name>ClientAirportLandingController</servlet-name>
		<servlet-class>aiss.controller.client.ClientAirportLandingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientAirportLandingController</servlet-name>
		<url-pattern>/client/airport/landing</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClientAirportsController</display-name>
		<servlet-name>ClientAirportsController</servlet-name>
		<servlet-class>aiss.controller.client.ClientAirportsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientAirportsController</servlet-name>
		<url-pattern>/client/airports</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClientAirportTrackController</display-name>
		<servlet-name>ClientAirportTrackController</servlet-name>
		<servlet-class>aiss.controller.client.ClientAirportTrackController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientAirportTrackController</servlet-name>
		<url-pattern>/client/airport/track</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClientUserAirportController</display-name>
		<servlet-name>ClientUserAirportController</servlet-name>
		<servlet-class>aiss.controller.client.ClientUserAirportController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientUserAirportController</servlet-name>
		<url-pattern>/client/user/airport</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClientUserPlaylistsController</display-name>
		<servlet-name>ClientUserPlaylistsController</servlet-name>
		<servlet-class>aiss.controller.client.ClientUserPlaylistsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientUserPlaylistsController</servlet-name>
		<url-pattern>/client/user/playlists</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClientUserProfileController</display-name>
		<servlet-name>ClientUserProfileController</servlet-name>
		<servlet-class>aiss.controller.client.ClientUserProfileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientUserProfileController</servlet-name>
		<url-pattern>/client/user/profile</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>aiss.listener.ObjectifyListener</listener-class>
	</listener>
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>